# Injector build outputs
injector/Build/
injector/Intermediate/
injector/x64/

# Tauri build outputs
ui/src-tauri/target/
ui/src-tauri/Cargo.lock

# DLL build outputs
dll/Release/
dll/.vs/
dll/.github/

# Python
__pycache__/
*.pyc

# General junk
Thumbs.db
*.log
